<mat-card style="text-align: center;" fxFlex="25%">
    <mat-card-header>
        <mat-card-title>Listado de Informes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Campus</mat-label>
            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Facultad</mat-label>
            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Programa Academico</mat-label>
            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Semestre</mat-label>
            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card fxFlex="75%" style="height: 100vh;">
    <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vTj59Aj7JEHUWsS4JG-LJSPGa1IJMgzDqzv9klrR4kTDyOLRqDxPyv-uC2hYK5WftDiOXNa95QtoE50/pub?embedded=true">
    </iframe>
</mat-card>