.container {
    margin-top: 4%;
}

.title-box {
  margin-bottom: 0px;
}

.title{
  margin-top: 0px;
}

.description {
  text-align: justify;
}

.form {
  margin-bottom: 0px;
}

.btn {
  width: 120px;
}

.remove_icon:hover {
  color: #ef5350 ;
}
.linea{
  padding-left: 6px;
  width: 18.7rem;
}
.competencia{
  width: 10rem;
}
.nopofavor{
  display: none;
}